<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Acceso</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <h1>Bienvenido/a</h1>
    <p>Inicia sesión o crea una cuenta</p>
    <ion-button routerLink="login">Iniciar sesión</ion-button>
    <ion-button routerLink="register">Crear cuenta</ion-button>
  </div>
</ion-content>
