<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Planfit</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <img
      alt="Silhouette of mountains"
      src="https://img.freepik.com/vector-gratis/ilustracion-concepto-hacer-deporte_114360-1120.jpg?w=2000"
    />
    <ion-card-header>
      <ion-card-title>Hola!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Te ayudamos a planificar tus entrenamientos personalizados para todo tipo
      de rutinas!
    </ion-card-content>
  </ion-card>

  <ion-button routerLink="/users" expand="block">Acceso</ion-button>
</ion-content>
