<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>private</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">private</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-button (click)="onLoggout()">Loggout</ion-button>

  <ng-container *ngIf="$user | async as user">
    Your user:<ion-text>{{user.email}}</ion-text>

    <ion-button routerLink="/trainings">Trainning</ion-button>
  </ng-container> -->
</ion-content>
